.DS_Store
.idea
pods
node_modules
a3/test.hs
.idea/vcs.xml
snakey/.cabal-sandbox
snakey/cabal.sandbox.config
snakey/dist
.cabal-sandbox/
SNakey12/cabal.sandbox.config
*.py
Mr_Prolog/settings.json
Mr_Prolog/.vscode/settings.json
Mr_Prolog/.vscode/settings.json
pokemon/example.csv
